<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <center><h1>Welcome to Hinglish</h1></center>
</head>
<body>
<form action="{% url 'translatepage' %}">
    <center>
        Enter the Text : <input type="text" /><br>
        Choose mode : <input list="browsers">
        <datalist id="browsers">
            <option value="Hinglish to English">
            <option value="English to Hinglish">
        </datalist><br>
        <input type="submit" value="Translate to Hinglish"><br>
    </center>



</form>
</body>
</html>